.nav {
  color: #edf5e1;
  position: fixed;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  width: 100px;
  background-color: #2c3531;
}

.p-nav {
  cursor: pointer;
}

.social {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.li {
  margin-top: 32px;
  height: 32px;
}

.gh {
  height: 32px;
}

.dd {
  display: none;
}

.dd-nav {
  background-color: #2c3531;
  border-radius: 15%;
  min-width: 75px;
}

.btn {
  border: rgb(48, 39, 39) solid 3px;
  border-radius: 15px;
}

.hmbg {
  background-color: rgb(48, 39, 39);
  height: 3px;
  width: 10px;
  margin: 3px;
}

@media only screen and (max-width: 500px), (max-height: 425px) {
  .last {
    margin-top: -10px;
  }

  .nav-name {
    align-self: center;
    margin-left: 15px;
  }

  .nav {
    width: 100vw;
    height: 50px;
    flex-direction: row;
  }

  .social {
    margin-right: 15px;
    align-self: center;
    flex-direction: row;
    margin-bottom: 0;
  }

  .li {
    height: 24px;
    margin-top: 0px;
    margin-left: 15px;
  }

  .pages {
    align-self: center;
    display: none;
  }

  .dd {
    margin-top: 12px;
    display: block;
  }

  .gh {
    height: 24px;
  }
}
